body, html {
    margin: 0px;
    height: auto;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, input {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30px !important;
    line-height: 40px !important;
    font-weight: 600 !important;
}
p {
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 400 !important;
    margin-bottom: 10px !important;
}

/* #app {
    width: 50% !important;
    height: 100% !important;
    float: right;
    position: relative;
} */
.login_form .col-md-6 {
	height: 100vh !important;
}

.login_form .right_sidebar {
	height: 100vh;
}
.login_form .img_col {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.login_form .left_sidebar img {
	width: 380px;
	margin-bottom: 10px;
}
.login_form .form_box {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.form_box .login-title h1 {
	color: #0079c3;
	text-align: center;
	margin-bottom: 40px;
	text-transform: uppercase;
}
.form_box .form_group {
	position: relative;
}
.form_box .form_group input {
	position: relative;
	width: 100%;
	padding: 10px 10px 8px 60px;
	height: auto;
	min-height: auto;
	font-size: 15px;
	/* height: auto; */
	line-height: 35px;
	background: #e9e7ff;
	border: none !important;
	border-radius: 30px;
	font-weight: 600;
}
.form_box .form_group .fa-user, .form_box .form_group .fa-unlock-keyhole {
	position: absolute;
	top: 17px;
	left: 24px;
	font-size: 20px;
	color: #0079c3;
}
.form_btn button {
	margin: 0 auto;
	display: inherit;
	padding: 15px 50px;
	border-radius: 30px;
	background-image: linear-gradient(to right, #42bbe8 , #0079c3);
	border: none;
	color: #fff !important;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
.form_btn button:hover {
	background-image: linear-gradient(to right, #0079c3, #42bbe8);
	color: #fff !important;
}